<div class="bg"></div>
<canvas id="bg2" class="bg2"></canvas>
<header class="header">
  <div class="container row">
    <div class="animated fadeIn four columns vertmid">
      <h1 class="logo"><a href="/">Eric Jinks</a></h1>
      <div class="info">
        <div class="typed"></div>
      </div>
      <nav class="nav">
-        <ul>
-          {% for page in site.pages %}
-            {% unless page.exclude %}
-              <li><a href="{{ page.url }}">{{ page.title}}</a></li>
-            {% endunless %}
-          {% endfor %}
-        </ul>
 -    </nav>
  </div>
</header>
